<header class="cabecera">
    <figure class="fondo">
        <!-- <img src="../../assets/img/agenda.jpg" alt="fondoHeader"> -->
    </figure>
    <div class="info">
        <h1>Somos una
            <span>agenda</span>
            <span [ngStyle]="{'display':'none'}">calendario</span>
            <span [ngStyle]="{'display':'none'}">y otras</span>
            <span [ngStyle]="{'display':'none'}">cosas</span>
        </h1>
    </div>
</header>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>